[SECTION] Requirement for Pressure Head in a Pressurized Distribution System
[SUB HEADER] OBC Division B 8.9.3.5.(1)
This sets requirements for checking the pressure head in a pressurized distribution system.

[Sub header] 8.9.3.5. Pressurized Distribution Systems
(1)  The pressure head at the furthest point from the pump in all distribution pipes shall be checked for compliance with Articles 8.7.6.1. and 8.7.8.2. and the design specification at least every 36 months.

[Sub header] Sentence 8.9.3.5.(1) - Explanatory Note:
The section provides for testing of residual pressure head every 36 months for pressurized systems. - i.e. Shallow buried trench and Type A and B dispersal beds. 

[HEADER]  To purchase additional Onsite Wastewater APPs visit: 

Apps on Google Play (Books & Reference Section)
https://play.google.com/store/apps/category/BOOKS_AND_REFERENCE?hl=en

Apple: (Reference Section)
https://itunes.apple.com/ca/genre/ios-reference/id6006?mt=8

Search: Onsite Wastewater